git+https://github.com/cjh1/StarCluster.git@cumulus#egg=StarCluster
boto==2.32.0
celery==3.1.20
requests==2.7.0
requests-toolbelt==0.3.0
jsonschema==2.4.0
easydict==1.5
lockfile==0.10.2
Jinja2==2.7.3
jsonpath-rw==1.4.0
enum34==1.0.4
ansible==1.9.4
