botocore>=1.12.188
boto==2.49.0
boto3>=1.9.188
celery==3.1.25
requests==2.22.0
jsonschema==3.0.1
easydict==1.9
Jinja2==2.10.1
six==1.12.0
jsonpath-rw==1.4.0
enum34==1.0.4 ; python_version < '3.4'
ansible==2.8
girder-client==2.4.0
paramiko==2.6.0
click==7.0
tabulate==0.8.3
jsonpickle==1.2
