botocore>=1.8.33
boto==2.38.0
boto3>=1.6.16
celery==3.1.20
requests==2.14.2
jsonschema==2.4.0
easydict==1.5
Jinja2==2.7.3
six==1.11.0
jsonpath-rw==1.4.0
enum34==1.0.4 ; python_version < '3.4'
ansible==2.1
girder-client>=3.0.0
paramiko==1.16.0
click==6.7
tabulate==0.7.5
jsonpickle==1.0.0
