hostname              {{hostvars[item].private_ip|default(hostvars[item].ansible_hostname)}}
load_scaling          NONE
complex_values        slots={{ hostvars[item].get('ansible_processor_count', 1) }}
user_lists            NONE
xuser_lists           NONE
projects              NONE
xprojects             NONE
usage_scaling         NONE
report_variables      NONE
