---
ec2_launch_instance_timeout: 1800 # 1/2 hour

terminate_wait_timeout: 600

ssh_cidr_ip: "{{ source_ssh_cidr_ip | default('0.0.0.0/0') }}"

ec2_pod_rules_egress:
  - proto: all
    from_port: all
    to_port: all
    cidr_ip: 0.0.0.0/0

ec2_group_name: "ec2_pod_{{ cluster_id }}"
